<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 修改这里的file值，就可以切换日志位置 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/tlias.log</file>
        <encoder charset="UTF-8">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.winter" level="DEBUG"/>
    <logger name="org.springframework" level="WARN"/>

    <!--日志级别 从低到高 trace debug info warn error-->
    <!--指定级别日志就会输出大于等于这个级别的信息-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
